.header {
  background-color: transparent;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5.3rem;
    font-size: 1.8rem;
    font-weight: 500;
  }
  button {
    font-size: inherit;
    gap: 1.2rem;
    font-weight: inherit;
  }
  &__catalog-btn {
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  &__search-btn {
    svg {
      width: 2.6rem;
      height: 2.6rem;
    }
  }
  &__nav {
    display: flex;
    gap: 3rem;
  }
  &__icons {
    display: flex;
    gap: 3.6rem;
    .header__icon--heart {
      svg {
        width: 2.2rem;
        height: 2rem;
      }
    }
    .header__icon--user {
      svg {
        width: 1.8rem;
        height: 2rem;
      }
    }
    .header__icon--cart {
      svg {
        width: 2rem;
        height: 2.1rem;
      }
    }
  }
  &__logo {
    svg {
      height: 3.7rem;
      width: 10.4rem;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  top: 12.5rem;
  right: 6.1rem;
  z-index: 1000;
  width: 61.9rem;
  height: 60.4rem;
  overflow: auto;
  border-radius: 4rem;
  background-color: #34206518;
  backdrop-filter: blur(200px);
}

.modal-content {
  padding: 4.8rem;
  h2 {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 6.6rem;
  }
  // max-width: 500px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border-bottom: 0.2rem solid #d9ff5a;
    padding-bottom: 2rem;
    font-size: 1.5rem;
  }
  input::placeholder {
    color: white;
    text-transform: uppercase;
    opacity: 1;
  }
  button {
    background: #ebe3ff19;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18.8rem;
    height: 9.6rem;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 60%;
    border: 0.2rem solid #d9ff5a;
    transform: rotate(-6deg);
    span {
      transform: rotate(6deg);
    }
  }
}

.close {
  cursor: pointer;
  float: right;
  svg {
    width: 3.6rem;
    height: 3.6rem;
  }
}
