@font-face {
  font-family: "Euclid Circular A";
  src: url("../font/Euclid Circular A Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("../font/Euclid Circular A Bold Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("../font/Euclid Circular A Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("../font/Euclid Circular A Light Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("../font/Euclid Circular A Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("../font/Euclid Circular A Medium Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("../font/Euclid Circular A SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("../font/Euclid Circular A SemiBold Italic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("../font/Euclid Circular A Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("../font/Euclid Circular A Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Floreste";
  src: url("../font/Floreste.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Floreste";
  src: url("../font/Floreste-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

// @font-face {
//   font-family: "Floreste";
//   src: url("../font/Floreste-Outline.otf") format("opentype");
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: "Floreste";
  src: url("../font/Floreste-Wavy.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Euclid Circular A", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ae97e8;
  color: white;
}

html {
  font-size: 0.520835vw;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  display: flex;
  color: inherit;
  align-items: center;
  cursor: pointer;
}

ul {
  list-style: none;
}

.wrapper {
  font-size: 1.6rem;
  line-height: 2.1rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  position: relative;
  min-height: 100%;
  flex: 1 1 auto;
}

.footer {
  flex: 0 0 auto;
}

[class*="__container"] {
  max-width: 180rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.mobileHeader {
  margin: 2.5rem 1.5rem;
  display: none;
  justify-content: space-between;
  align-items: center;
  &__icons {
    display: flex;
    gap: 1.8rem;
    svg {
      width: 4.2rem;
      height: 4.2rem;
    }
  }
}

@media (max-width: 48em) {
  html {
    font-size: calc((100 / 320) * 5vw);
    -webkit-text-size-adjust: none;
  }

  .header {
    display: none;
  }
  .mobileHeader {
    display: flex;
  }

  .hero__slide {
    display: none !important;
  }

  .hero__slide--active {
    display: flex !important;
    width: 100vw !important;
  }

  body {
    -webkit-text-size-adjust: none;
  }
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  color: unset;
}
a,
a:hover {
  text-decoration: none;
}

.hero {
  display: flex;
  height: 105.8rem;
  margin-bottom: 17rem;
  position: relative;
  &__title {
    position: absolute;
    text-transform: uppercase;
    color: #d9ff5a;
    font-size: 1.8rem;
    font-weight: 500;
    top: 30.6rem;
    left: 6rem;
  }
  &__buy-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    gap: 1.1rem;
    width: 37.7rem;
    height: 21.1rem;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url("../images/background/buttonBackground.png");
    background-size: contain;
    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
    path {
      fill: #d9ff5a;
    }
  }
  &__slider {
    display: flex;
    gap: 2rem;
  }
  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 31.2rem;
    z-index: 10;
  }
  &__product-title {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2.8rem;
  }
  &__description {
    font-size: 1.8rem;
    font-weight: 500;
  }
  &__price {
    display: flex;
    position: relative;
    gap: 0.7rem;
    font-family: "Floreste", sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: #d9ff5a;
    &::before {
      content: "";
      position: absolute;
      top: -2.8rem;
      background-color: #ffffff1f;
      height: 0.1rem;
      width: 100%;
    }
    span {
      margin-top: -0.8rem;
      font-size: 2rem;
      font-weight: normal;
    }
  }
  &__slide-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.2rem;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 6.9rem;
    font-size: 1.5rem;
    font-weight: 500;
    span {
      font-family: "Floreste", sans-serif;
      font-weight: bold;
      color: white;
      font-size: 4rem;
    }
  }
  &__slide {
    width: 34rem;
    height: 103.8rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .hero__content {
      display: none;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 106%;
      top: -6rem;
      border-radius: 5rem;
      z-index: -1;
    }
    &:nth-child(3)::before {
      background-color: #aecfff;
    }

    &:nth-child(2)::before {
      background-color: #fa8fef;
    }
  }
  &__slide--active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 107.7rem;
    position: relative;
    margin-left: 6rem;
    margin-right: 4rem;

    .hero__content {
      display: block;
    }
    .hero__product-img {
      position: relative;
      z-index: 10;
    }
    .hero__background {
      position: absolute;
      font-family: "Floreste", sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20.2rem;
      color: #cbb6ff60;
      z-index: 1;
    }
  }
}

.category {
  margin-bottom: 17rem;
  &__title {
    font-size: 6rem;
    font-weight: 500;
    margin-bottom: 7rem;
    text-align: center;
  }
  &__list {
    display: flex;

    gap: 3rem;
  }
  &__item-title {
    max-width: 18.4rem;
    font-weight: 500;
    font-size: 2.8rem;
    text-transform: uppercase;
    position: absolute;
    line-height: 1.2;
    left: 2.5rem;
    top: 2rem;
  }
  &__item {
    position: relative;
    width: 40rem;
    height: 51.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../images/background/categoryBackground.png") no-repeat;
    background-size: contain;
  }
  &__item-img {
    max-width: 25rem;
    max-height: 28rem;
  }
  &__item-count {
    position: absolute;
    right: -2.5rem;
    top: 16rem;
    font-size: 1.5rem;
    font-weight: 500;
    width: 8.1rem;
    height: 7.2rem;
    border-radius: 50%;
    padding: 0 2rem;
    display: flex;
    gap: 0.5rem;
    transform: rotate(-23deg);
    justify-content: center;
    align-items: center;
    background-color: #fa8fef;
    span {
      font-family: "Floreste", sans-serif;
      font-weight: bold;
      font-size: 4rem;
    }
  }
  &__item-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 10.1rem;
    height: 10.1rem;
    border-radius: 60%;
    background-color: #ebe3ff1a;
    border: 0.1rem solid#d9ff5a;
    bottom: -2rem;
    left: 15.5rem;
    &:hover {
      background-color: #d9ff5a;
      transition: 0.2s ease;
      path {
        stroke: #ae97e8;
        transition: 0.2s ease;
      }
    }
    svg {
      width: 3.4rem;
      height: 3.4rem;
    }
  }
}

.art {
  width: 100%;
  height: 26rem;
  margin-bottom: 17rem;
}

.pagination-bullet {
  width: 0.7rem;
  height: 0.7rem;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(50%);
  border-radius: 100%;
  cursor: pointer;
}
.pagination-bullet--active {
  background-color: white;
}

.blog {
  &__container {
    position: relative;
  }
  &__list {
    display: flex;

    gap: 3rem;
  }
  &__item {
    position: relative;
    width: 37.6rem;
    height: 40rem;
    display: flex;
    gap: 1.4rem;
  }
  &__item-content {
    position: relative;
    width: 28.3rem;
    height: 34.2rem;
    border-radius: 1.4rem;
    background: rgb(203, 182, 255);
    &::before {
      content: "";
      position: absolute;
      width: 10.5rem;
      height: 9rem;
      bottom: -5rem;
      right: 1.4rem;
      background-color: #ae97e8;
      border-radius: 100%;
    }
  }
  &__item-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &__item-img {
    width: 28.3rem;
    height: 34.2rem;
    padding: 1.3rem;
    border-radius: 1.4rem;
    backdrop-filter: blur(10rem);
    background: rgb(203, 182, 255);
    display: flex;
    align-items: center;
    img {
      height: 100%;
    }
    &::before {
      content: "";
      position: absolute;
      left: -2rem;
      width: 19.1rem;
      height: 17.6rem;
      background: rgb(203, 182, 255);
      z-index: -1;
    }
  }
  &__item-title {
    position: absolute;
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.2;
    max-width: 19rem;
    left: 2.5rem;
    top: 9.2rem;
  }
  &__item-author {
    position: absolute;
    text-align: right;
    font-size: 1.8rem;
    font-weight: 500;
    max-width: 6.5rem;
    right: 2.5rem;
    top: 2.5rem;
  }
  &__item-count {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 500;
    left: 2.5rem;
    top: 2.5rem;
  }
  &__item-time {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: -5rem;
    right: 2rem;
    transform: rotate(-15deg);
    border: 0.2rem solid rgb(217, 255, 90);
    border-radius: 100%;
    backdrop-filter: blur(2rem);
    background: rgba(255, 255, 255, 0.19);
    width: 9.6rem;
    height: 8.1rem;
    span {
      font-family: "Floreste", sans-serif;
      font-weight: bold;
      font-size: 4rem;
    }
  }
  &__item-date {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 8.2rem;
    left: 2.5rem;
    bottom: 2.5rem;
  }
  &__title {
    display: flex;
    gap: 4.5rem;
    align-items: center;
    margin-bottom: 7rem;
    h2 {
      font-size: 6rem;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
  &__slider {
    display: flex;
    align-items: center;
    gap: 3rem;
    position: absolute;
    right: 0;
    top: 0;
    font-family: "Floreste";
    font-weight: bold;
    font-size: 4rem;
  }
  &__slider-line {
    width: 6.3rem;
    height: 0.2rem;
    background-color: #cbb6ff;
  }
  &__pagination {
    display: flex;
    gap: 0.7rem;
  }
}
